body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* header area design start */
.header{
    background-image: url(img/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    height: 100vh;
}
.sub-menu{
    margin: 6px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    padding: 0px 10px;
    cursor: pointer;
}

.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}
.navbar-light .navbar-toggler-icon {
	background-image: none;
}

.navbar-light .navbar-toggler-icon i {
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
}

.banner-content h4{
    font-size: 36px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: #dddddc;
    margin-bottom: 0px;
}
.banner-content h1{
    font-size: 90px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.btn-custom{
    background: #30788b;
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    transition: 0.5s all ease;
}
.btn-custom:hover{
    background: #ffffff;
    color: #30788b;;
}
/* header area design end */

/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */