body{
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* header area start */
.menu ul li a{
    color: #737373 !important;
    font-weight: 500;
}
.menu ul li{
    margin-right: 15px;
}
/* header area end */